<% provide(:title, @kind.name) %>

<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>

<section id="site-content">
  <div class="container-fluid">
    <h1>Receitas</h1>
    <h2><%= @kind.name %></h2>
    <% if @recipes.empty? %>
      <p><%= "Ainda não foi adicionada nenhuma receita de #{@kind.name}." %></p>
    <% end %>
    <%= render 'recipes/list' %>
  </div>
</section>
