<%= form_for current_user.favorited_recipes.build do |f| %>
  <div><%= hidden_field_tag :favorite_id, @recipe.id %></div>
  <%= f.button :favorite_id, id: 'fav_button', class: "btn btn-xs toggle-star" do %>
    <%= fa_icon 'star', text:'receita favorita' %>
  <% end %>
<% end %>
