<% provide(:title, 'Nova receita') %>
<% provide(:button_text, 'Salvar') %>
<% provide(:icon_specified, 'save lg') %>

<section id="edit-recipe">
  <h2>Editar Receita</h2>
  <hr>
  <%= render 'form' %>
</section>
