<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>

<section id="site-content">
  <div class="container-fluid">
    <div class="row">
      <% if !@favorites.nil? %>
        <div class="col-sm-6">
          <section id="ultimas-receitas">
            <h2>Últimas Receitas</h2>
            <%= render 'list' %>
          </section>
        </div>
        <div class="col-sm-6">
          <section id="receitas-favoritas">
            <h2>Favoritas dos Usuários</h2>
            <%= render 'recipes/favorites' %>
          </section>
        </div>
      <% else %>
        <div class="col-sm-8 col-sm-offset-2">
          <section id="ultimas-receitas">
            <h2>Últimas Receitas</h2>
            <%= render 'list' %>
          </section>
        </div>
      <% end %>
    </div>
  </div>
</section>
