<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>

<section id="site-content">
  <div class="container-fluid">
    <h2>Receitas</h2>
    <%= render 'list' %>
  </div>
</section>
