<% provide(:title, 'Nova receita') %>
<% provide(:button_text, 'Criar Receita') %>
<% provide(:fa_icon, 'plus lg') %>

<section id="new-recipe">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Nova Receita</h2>
      <hr>
      <%= render 'form' %>
    </div>
  </div>
</section>
