<% provide(:title, 'Nova receita') %>
<% provide(:button_text, 'Criar Receita') %>
<% provide(:icon_specified, 'plus lg') %>

<section id="new-recipe">
  <h2>Nova Receita</h2>
  <hr>
  <%= render 'form' %>
</section>
