<% provide(:title, 'Nova receita') %>
<% provide(:button_text, 'Criar Receita') %>
<% provide(:fa_icon, 'plus lg') %>

<section id="new-recipe">
  <h2>Nova Receita</h2>
  <hr>
  <%= render 'form' %>
</section>
