<% provide(:title, "Cozinha #{@cuisine.name}")%>

<section id="site-content">
  <div class="container-fluid">
    <h1>Receitas</h1>
    <h2>Cozinha <%= @cuisine.name %></h2>
    <% if @recipes.empty? %>
      <p><%= "Ainda não foi adicionada nenhuma receita para a cozinha #{@cuisine.name}." %></p>
    <% end %>
    <%= render 'recipes/list' %>
  </div>
</section>

<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>
