<aside class="sidebar">
  <section id="kind-list">
    <h3>Tipo</h3>
    <% Kind.all.each do |kind| %>
      <p><%= link_to kind.name, kind %></p>
    <% end %>
  </section>
  <section id="cuisine-list">
    <h3>Cozinha</h3>
    <% Cuisine.all.each do |cuisine| %>
      <p><%= link_to cuisine.name, cuisine %></p>
    <% end %>
  </section>
</aside>
