@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* variables & mixins*/

$light-grey: #777;
$lighter-grey: #888;
$dark-grey: #555;
$l3-blue: #e8ebee;
$uncheck-color: #aab8c2;
$favorite-color: gold;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
html {
  font-size: 10px;
}

body {
  padding-top: 6.0rem;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 1.0rem;
  }
}

.flex-row {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3.0rem;
  letter-spacing: -0.2rem;
  margin-bottom: 3.0rem;
  text-align: center;
}

h2 {
  font-size: 2.2em;
  letter-spacing: -0.1rem;
  margin-bottom: 2.0rem;
  margin-top: 1.3rem;
  // text-align: center;
  font-weight: normal;
  color: $light-grey;
  line-height: 4.5rem;
}

body {
  font-size: 1.5rem;
}

a {
  font-size: 1.6rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.7rem;
}

/* main */

.media-object {
  width:  9.6rem;
  height: 9.6rem;
}

.media-body {
  dt {
    width: 10.5rem;
  }
  dd {
    margin-left: 12.5rem;
  }
}

#recipe {
  dl {
    font-size: 1.6rem;
    // margin-left: -15px;
    // margin-top: 20px;
    dt {
      width: 14.5rem;
      text-align: left;
      line-height: 3rem;
      font-weight: 600;
    }
    dd {
      margin-left: 15.5rem;
      line-height: 3rem;
    }
  }
}

#ilustration {
  margin-top: 3rem;
}

/* header */

nav {
  background-color: $l3-blue;
}

.navbar-brand {
  float: left;
  margin-right: 1.0rem;
  margin-left: 0.2rem;
  font-size: 2.5rem;
  color: $dark-grey;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  padding-top: 1.5rem;
  font-weight: 400;
  &:hover {
    color: $dark-grey;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.toggle-star {
  border: none;
  color: $uncheck-color;
  background-color: transparent;
  outline: none;
  margin: 0;
  padding: 2px 6px 3px 6px;
  font-size: initial;
  line-height: inherit;
  .active, :active{
    outline: none;
    color: $favorite-color;
    background-color: transparent;
    box-shadow: none;
  }
  // &:active + &.active {
  //   color: $favorite-color;
  // }
  :hover, :focus, .focus{
    color: $favorite-color;
  }
}

#favorite {
  position: absolute;
  left: -100vw;
  &:checked + label {
      color: $favorite-color;
  }
  &:hover {

  }
}

[for='favorite'] {
    margin-left: 0.5rem;
    color: #aab8c2;
    cursor: pointer;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background-color: cornsilk;
  @include box_sizing;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.7);
}
