@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* variables & mixins*/

$light-grey: #777;
$lighter-grey: #888;
$dark-grey: #555;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
html {
  font-size: 10px;
}

body {
  padding-top: 6.0rem;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 1.0rem;
  }
}

.flex-row {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
}

.media-object {
  width:  9.6rem;
  height: 9.6rem;
}

.media-body {
  dt {
    width: 10.5rem;
  }
  dd {
    margin-left: 12.5rem;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3.0rem;
  letter-spacing: -0.2rem;
  margin-bottom: 3.0rem;
  text-align: center;
}

h2 {
  font-size: 2.2em;
  letter-spacing: -0.1rem;
  margin-bottom: 3.0rem;
  // text-align: center;
  font-weight: normal;
  color: $light-grey;
}

p {
  font-size: 1.1rem;
  line-height: 1.7rem;
}

/* header */

#logo {
  float: left;
  margin-right: 1.0rem;
  margin-left: 0.2rem;
  font-size: 2.5rem;
  color: $dark-grey;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  padding-top: 1.1rem;
  font-weight: 400;
  &:hover {
    color: $dark-grey;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background-color: cornsilk;
  @include box_sizing;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.7);
}
