<footer class="footer">
  <div class="container">
    <small>
      Social Recipes | Copyright 2014
    </small>
    <nav>
      <ul>
        <li><%= link_to "Facebook", '#' %></li>
        <li><%= link_to "Twitter",  '#' %></li>
      </ul>
    </nav>
  </div>
</footer>
