<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "Social Recipe", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Inicio",   '#' %></li>
        <li><%= link_to "Receitas", '#' %></li>
        <li><%= link_to "Log in",   '#' %></li>
      </ul>
    </nav>
  </div>
</header>
