<aside class="sidebar">
  <section id="cuisine-filters">
    <h1>Cozinhas</h1>
    <% @cuisines.each do |cuisine| %>
      <p><%= link_to cuisine.name, cuisine %></p>
    <% end %>
  </section>
</aside>
